.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

button {
border: none;
cursor: pointer;
appearance: none;
background-color: inherit;
}

body,
html {
  background-color: hsl(275, 100%, 97%);
  height: 100%;
  margin: 0;
  margin-top: -9px;
}
.top-image {
  /* This is the image */
  background-image: url(assets/images/background-pattern-desktop.svg);
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* This is for the card itself */
.card {
  box-shadow: 1.5px 1.5px 1.5px 1.5px;
  max-width: 350px;
  max-height: fit-content;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  position: relative;
  top: 95px;
}

/* This is the star image */
.faq-image {
  display: inline-block;
  vertical-align: middle;
  width: 9%;
}

/* Div which includes the imahe and text */
.header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
}

/* the text for "FAQ" */
.faq-text {
  font-size: xx-large;
  font-weight: bolder;
  display: inline-block;
  margin-left: 5%;
}

/* The text of the whole card  */
.card p {
  color: black;
  margin: auto;
  padding: 10px 10px 10px 10px;
}

/* First dropdown */
.first-dropdown{
  display: flex;
  align-items: center;
  padding-left: 20px;
}

/* The first questions asked */
.first-dropdown-text {
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
}
/* The plus and minus image for the first question */
.first-dropdown-image {
  display: inline-block;
}
 #first-dropdown-more{
  display: none;
 }

